<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Бахерт Статьи </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light center">
<!--        <a class="navbar-brand" href="#">VA</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="../../index.html">Home</a>
                <a class="nav-item nav-link" href="../../index.html#bio">BIO</a>
                <a class="nav-item nav-link" href="../../index.html#project">PROJECT</a>
                <a class="nav-item nav-link " href="../../index.html#event">EVENT</a>
                <a class="nav-item nav-link " href="../../index.html#location">LOCATION</a>
            </div>
        </div>
    </nav>
</header>


<div class="textSixeChanher container align-center">
    <label>Размер текста (
        <output class="pixels">14</output>
        px)
        <input class="size-setting" type="range" min="8" max="48" step="1" value="14">
    </label>
</div>

<div class="longread container">
    Помню, еще в студенческие годы на семинарах по истории искусства меня особенно привлекала жизнь тех художников,
    творчество которых было связано с военными походами, морскими, археологическими экспедициями, путешествиям, таких
    как В. Верещагин, К. Коровин, Э. Делакруа, Р. Кент…
    В некоторой степени мне удается воплощать в своей жизни такие творческие идеалы. </p>
    <p class="mb5">
        В составе клуба «Victoria Artis» объездила деревни Ленинградкой области, еще хранящие элементы традиционного
        быта славянских и финно-угорских народностей.
        Несколько пленэров провела на Приполярном Урале в Национальном заповеднике «Югыд Ва».
        Во время творческой поездки по Гдовскому уезду познакомилась с начальником базы научно-экспедиционного флота
        института Арктики и Антарктики
        Сошниковым Аркадием Михайловичем. Эта встреча послужила началом моего знакомства с миром полярников.
        У меня появилась возможность осуществить мою давнюю мечту, побывать в краю вечных снегов и айсбергов.
        Лукин Валериий Владимирович начальник Российской Антарктической Экспедиции пошел навстречу моим творческим
        планам.
        Через год должно состояться мое путешествие.
        Глядя на Валерия Владимировича, мне приходит в голову мысль, что серию портретов русских полярников я могу
        начать прямо сейчас.
        Начальник РАЭ сидит за рабочим столом в белоснежной рубашке, позади него карта Антарктиды с отмеченными на ней
        российскими станциями, рука не расстается с телефоном, на проводе –Антарктида. Все звонки связаны с решением
        проблем, относящихся к работе русских полярников на шестом континенте. За окном - Петербург. Живая непрерывная
        связь Антарктиды с Большой Землей осуществляется здесь, в кабинете В.В. Лукина. Портрет сложился сам собой.
        Когда я закончила графический вариант, оказалось, что линии развития композиции в картине совпадают с
        очертаниями антарктического материка.
        В декабре 2012 г. на самолете я отправилась в Антарктиду на русскую научную станцию Беллинсгаузен, что
        расположена на острове Ватерлоо (Кинг Джордж).
        Когда мы пролетали над одним из Южных Шетландских островов, внизу под облаками открылась великолепная картина -
        золотистое сияние снегов и айсбергов в окружении всех красок синего спектра, от бирюзовой до фиолетовой,
        разлитых в прозрачном горизонте, морской глубине и тенях, отбрасываемых на снег неспокойным рельефом острова. У
        меня захватило дух. Именно так я и представляла себе Терра инкогнита!
        В аэропорту на острове Ватерлоо среди оживленной публики встречающих разных национальностей трое выделялись
        своей устойчивой монументальностью.
        Русские! Встретили меня очень тепло. О! Я сразу себя почувствовала дома после недели вынужденного молчания в
        одном из отелей Пунта-Аренаса,
        где туристы всех стран разговаривали между собой на английском. Вскоре после посадки самолета синее небо стало
        затягиваться облаками,
        и в дальнейшем такие солнечные дни были уже редкими гостями на нашем острове.
        В Антарктиду я попала в «разгар» антарктического лета.
        В самые теплые дни температура воздуха не превышала +10 С. Признаюсь, что до этой поездки я и не подозревала,
        что Южный полюс намного холоднее Северного.
        Полярная станция Беллинсгаузен находится на 62 гр. 12 мин. Южной широты. В северном полушарии с такой широтой
        примерно можно соотнести Приполярный Урал.
        Однако в отличие от разнообразной многоцветной растительности Северного Приполярья, местный ландшафт
        представляет собой серую каменистую почву,
        зеленые островки мхов и лишайников, и только солнечные дни добавляют в эту скупую палитру индиговый цвет воды и
        неба.
        Уникальный животный мир Южного полюса связан с океаном – единственной кормовой базой: пингвины и тюлени,
        питающиеся крилем и рыбой; поморники и альбатросы, питающиеся рыбой и, увы, пингвинятами. Наземных животных
        здесь нет. Но сколько удивительного и неожиданного таит в себе антарктическая природа!
        Снег, как чистое зеркало, отражает все нюансы вечернего, утреннего освещения, днем, подобно линзе, он преломляет
        свет в бирюзовое свечение.
        С приближением середины лета природа начинает меняться. На белоснежных склонах появляются зеленые и красные
        полосы, словно следы, оставленные гигантской кистью. Никак не могла понять, что это? Оказалось, это цветение
        снега! В скором времени из-под белой земной поверхности начинают появляться хризолитовые воды талой воды и
        горных озер. Между российской и чилийскими станциями, зимой практически сливающимися в одну, побежит мощный и
        веселый труднопроходимый ручей, наполненный красными букашечками – дафниями. Так что, к весенне-летнему чаепитию
        здесь обязательно прилагается закуска из планктона - водяных блох. Ничего не поделаешь. По преимуществу облачное
        небо не сразу позволило мне заметить, что солнце двигается по небосводу в обратную сторону. Только через месяц я
        поймала себя на том, что во время этюда все время разворачиваюсь за солнцем вместе с этюдником через левое
        плечо. И месяц здесь убывает и растет в обратном направлении. А в редкие безоблачные ночи в небе открывалась
        совсем другая часть космоса, незнакомая.
        Морские птицы - поморники бесшумно пролетают мимо, оставляя в воздухе тихий шорох крыльев. Во время сильного
        ветра они неподвижно зависают перед тобой, словно приколоченные к воздуху, и напоминают тем самым, что,
        вообщем-то, они тоже хотят есть. Поначалу я их очень боялась. Стоило мне выйти из вагончика, как одна из птиц
        покидала свой обозревательный пункт, находящийся метров за 200 на какой-нибудь высокой точке, и пикировала в
        сторону моей головы. Не раздумывая, я падала на колени, закрывала голову руками и начинала визжать. Вероятно,
        одной из птиц это показалось забавным, и мой выход уже больше не оставался без внимания. Без откупа в виде
        котлеты, на худой конец, хлеба, мне нельзя было появляться. Через некоторое время я научилась распознавать
        своего пернатого друга. На орнитологическом кольце у него значилось «VL». Я назвала его Володей. Володя сторожил
        меня на тропинке из кают-компании в мой вагончик, на камбуз. Если я проходила мимо с пустыми руками, он как-то
        бочком подпрыгивал за мной и старался ухватить за пояс, свисающий у меня почти до земли. В конце концов с досады
        клевал меня за ногу, либо на лету задевал клювом по голове. Удивительно, что мне понадобился почти месяц, чтобы
        из пяти птиц, обитающих на территории станции, заметить диалог с одной из них и научиться распознавать Володю, в
        то время как ему не стоило никакого труда узнавать меня с больших расстояний из 30 человек, одетых в одинаковые
        комбинезоны. Поморники очень умные птицы и забавные, когда к ним немного привыкнешь. Полярники ласково называют
        их «собаками», потому что они охотно идут на контакт с человеком. Частенько поморники без всякой видимой причины
        сидели под камбузной лестницей и с любопытством разглядывали снизу снующих по ней полярников. Цель такого
        времяпрепровождения так и осталась мне непонятной.
        Как-то, на острове Ардли пернатые хищники оставили меня без обеда. Не только стащили у меня из-под носа
        тормозок, но и умудрились его по-тихому съесть у меня под носом. А я не о чем не ведала, пока другую пару хищных
        птиц не привлек этот славный бивуак. У птиц начался оживленный спор. Не сразу до меня дошло, что спор идет из-за
        моих бутербродов.
        Очень хорошо запомнился день, когда я осталась одна на острове Ардли – месте гнездовья пингвинов сразу трех
        видов: полицейских, ослиных и аделей. Поверхность острова испещрена пингвиньими экскрементами, поэтому издалека
        остров приобретает розовато-телесный цвет, в отличие от окружающих его островов, серо-коричневых. Меня высадили
        у края птичьей колонии. Как только лодка отчалила, взрослые особи ослиных пингвинов обступили меня плотным
        кольцом и, агрессивно размахивая крыльями, стали возмущенно на меня кричать, широко разевая тонкие длинные
        клювы. Я беспомощно оглянулась. Вокруг только бесчисленные черные точки пингвиньих тел и над ними великолепно
        безучастные гигантские альбатросы. Тем временем к кружку скандалистов со всех сторон сбегались все новые
        участники. Недвижно я стояла в центре этого круга, осыпаемая их пингвиньими оскорблениями, пристыженная своим
        непрошенным вмешательством, как Гулливер в стране лилипутов. В следующий свой ход они нападут на меня и здесь,
        на этом дивном острове, закончатся мои дни. В тот момент я именно так и думала. Но вскоре пингвины стали
        расходиться, видимо решив, что я получила сполна. Я осторожно расставила этюдник и начала писать. Странно, но
        сколько потом при мне на острове не появлялись другие люди, орнитологи или моряки, птицы не реагировали на них
        так бурно. Некоторое время я писала спокойно, но немного погодя ко мне по одному, по два стали осторожно
        приближаться пингвинята-подростки – едва оперившиеся птенцы с остатками длинного пуха на голове, в виде ирокеза.
        Мучимые страхом и любопытством они поставили перед собой нелегкую задачу: успеть подбежать ко мне сзади, пока я
        не повернулась, и испробовать на вкус ножки моего этюдника или кисточки, валяющиеся в стороне. Самые смелые
        пытались попробовать мои сапоги. Была у них еще одна задача, не такая опасная, как первая – полежать на моем
        рюкзаке, спасательном жилете или разбросанных запасных холстах. На рюкзаке лежать было неудобно, пингвинята все
        время скатывались на своих гладких пузиках, но упрямо залезали обратно, и снова скатывались… К третьему или
        четвертому моему визиту на остров пингвины-подростки так осмелели, что без стеснения вытягивали кисточки прямо
        из этюдника. Мне даже показалось, что с одним пингвиненком я подружилась. Каждый раз, когда я приезжала на
        остров, он подходил со мной поздороваться.
        Мое впечатление о человеческих взаимоотношениях здесь – это бережное отношение друг к другу (не смотря на иногда
        возникающие шероховатости), что в суровых условиях особенно ценно. И это не только в пределах одной станции, но
        и между всеми исследовательскими базами, расположенными на острове, а их здесь более десяти: Чилийские,
        Уругвайская, Аргентинская, Корейская, Китайская, а также сезонные станции других стран. Тут существует негласная
        договоренность помогать друг другу знаниями, техникой… всем возможным. Начальнику нашей станции Олегу Сахарову
        могли позвонить в любое время суток, и он тут же отправлялся на помощь. Случалось, и нам было не обойтись без
        помощи соседей. Ученые разных стран плотно сотрудничают друг с другом в процессе проведения исследований.
        Одновременно со мной на Беллинсгаузен прибыли немецкие орнитологи из Йены – профессор и студенты. Затем приехали
        болгарские бриологи, испанские гляциологи - исследователи льда. Большинство сотрудников станции, независимо от
        рода деятельности, осуществляемой ими на станции, люди с высшим или специальным образованием. И здесь заведено
        такое правило: каждую пятницу кто-нибудь из полярников проводит лекцию по близкой ему теме. Однажды русская
        гостья с соседней чилийской станции Марина Степанова – профессор физики, «бриллиант» физики, как ее называют в
        Чили, читала нам лекцию о полярных сияниях. Очень интересно и познавательно.
        Метеоролог Виталий Болдин поведал нам о том, что между Антарктическим полуостровом и Южной Америкой идет
        распределение воздушных масс, влияющих на погоду всего земного шара. Поэтому это место называют «кухней погоды».
        Многое из услышанного было для меня открытием. Я тоже старалась внести свой вклад в разнообразие досуга. Вела
        кружок рисования.
        Целый год на станции зимовала женщина – Любовь Курбатова – сотрудник Ботанического института им В.Л. Комарова
        Российской академии наук. Любовь изучает растительность острова: какие виды мхов и лишайников характерны для
        острова, какие являются редкими. Любе удалось обнаружить новые для полуострова растительные сообщества, ранее
        никем незафиксированные. По окончании экспедиции собранные образцы Люба привозит коллегам: биохимикам,
        молекулярным биологам, зоологам. В своих лекциях Люба рассказывала, как по реликтовым мхам изучают климатические
        изменения, также по мхам можно судить, как образовывался и как отступал ледник. На лекциях Любови Курбатовой я
        узнала, что более 50 млн. лет назад, до начала оледенения, шестой континент был покрыт огромными деревьями
        семейства нотофаговых. Нотофагусы до сих пор составляют леса Южной Америки. На материке и по сей день находят
        образцы пород с отпечатками ископаемых растений и даже животных. Около аэропорта на Чилийской станции стоит
        огромный камень, но, если приглядеться, это окаменевший древний пень.
        Мне со своими творческими планами вписаться в ритм научной станции было не легко. Но спасибо Олегу Сахарову и
        всем полярникам нашей станции, которые во всем возможном шли навстречу, во всем помогали. Однако, с некоторыми
        трудностями приходилось сталкиваться. Например, на остров Ардли пройти можно было единственно по косе, которая
        обнажалась только во время отлива всего лишь на несколько часов в течение 3 - 4 дней один раз в месяц. В другое
        время на остров можно было попасть только на лодке. Приходилось все время следить за календарем отливов,
        графиком работы лодки, прогнозом погоды. Тяжело было добираться на этюды по рыхлому снегу по холмам с этюдником
        в непродуваемом комбинезоне и сапогах 45 размера. Большие сложности доставлял ветер. Частенько опрокидывал
        этюдник с холстом. Однажды опрокинул и меня. Дунул с такой силой, что перевернул меня через голову. Еще
        дополнительную трудность создавали все те же поморники. Нельзя было на пять минут без присмотра оставить
        палитру. Тут же склевывали красные краски. Воровали всякую мелочь: очки, перчатки…
        Но тем не менее, как же мне повезло! Участие художника в научных экспедициях в качестве иллюстратора событий и
        научных открытий – исторически сложившаяся традиция, существовавшая вплоть до середины 20 века. С появлением
        фотоаппарата потребность в документализации событий средствами изобразительного искусства отпала. Но главное
        назначение живописи - передать ритм и вибрации жизни, движение времени - актуально и по сей день. На острове
        Ватерлоо состоялась первая выставка моих антарктических работ на празднике в честь дня рождения станции
        Беллинсгаузен. На тот момент я смогла представить около 20 работ. Зрителями были гости со всех близлежащих
        станций. Во время этой выставки я, пожалуй, впервые поняла, насколько неравнодушно и с каким пониманием эти
        сильные и мужественные люди относятся к искусству. Эта была та ценная для художника ситуация, когда зритель
        становится соавтором картины.
        Через два с половиной года после моей поездки мне, наконец, удалось подготовить выставку, в которую вошли все
        работы, созданные на острове. Выставка была посвящена 195–летию со дня открытия Антарктиды. Презентация прошла в
        институте Арктики и Антарктики. В качестве почетного гостя на открытии присутствовал директор Русского музея
        Владимир Александрович Гусев, который в 2014 г. посетил станцию Беллинсгаузен. Его визит на остров Ватерлоо был
        связан с открытием второго виртуального филиала Русского музея на Антарктических станциях. Общение с искусством
        помогает полярникам преодолеть суровые условия антарктической зимовки, в которых человек полностью оторван от
        привычного мира. В единении научного, духовного и художественного начал – сила и полнота культуры. В древние
        времена образ культуры отождествлялся с триединством Истины, Добра и Красоты.
        Название выставке «На краю земли» дала работа с изображением храма Святой Троицы – самого южного православного
        храма. Русские первопроходцы при освоении новых земель отмечали форпосты на самых дальних открытых или
        завоеванных рубежах строительством церквей. Антарктида была открыта русскими учеными Беллинсгаузеном и
        Лазаревым. И вполне закономерно, что на Антарктическом материке пусть и два столетия спустя, появилась
        православная церковь, построенная в стиле русского деревянного зодчества - церковь Святой Троицы, являющаяся
        приходом Троице-Сергиевой Лавры. Тут не могу не сказать о человеке, благодаря которому стал возможен этот
        исторический шаг. С Петром Ивановичем Задировым я имела счастье познакомиться на открытии своей выставки. Петр
        Задиров, человек редчайшей мужественной профессии, парашютист-испытатель, взял на себя долг перед отечеством. По
        его инициативе с благословения Патриарха всея Руси Алексея II, при участии истинных патриотов России был
        воздвигнут храм на краю земли. Церковь Святой Троицы плодотворно участвует в жизни станции. Каждое воскресение
        совершается служба священнослужителями Троице-Сергеевой Лавры. В период моего пребывания на станции в храме
        служил диякон Палладий, теперь уже священник. После службы он приглашал полярников к себе на чай. Иной раз до
        самого обеда мы не могли покинуть его гостеприимный балок. Воскресное чаепитие перерастало в философские беседы,
        что служило отдохновением в напряженном ритме полярных будней.
        Когда я впервые увидела Церковь Святой Троицы, меня поразило то, как она естественно и одновременно
        сверхъестественно пребывала в окружавшем ее пространстве дикой природы. Серебристый цвет алтайского кедра и цвет
        антарктического грунта, характерные очертания русского деревянного зодчества и линии рельефа острова настолько
        созвучны друг другу, что кажется, церковь вырастает из этой суровой земли. Сказочное впечатление!
        В той знаменательной русской первой антарктической экспедиции (1819 – 1821 гг.) участвовал художник Павел
        Михайлов, в задачи которого входило зарисовывать вновь открытые острова, виды городов и поселений, изображать
        образцы флоры и фауны, «чтобы все представляемое было верным изображением видимого». В 2013 г. по возвращении из
        Антарктиды в Санкт-Петербург я успела попасть на выставку по рисункам художника П. Михайлова, которая проходила
        в Михайловском замке. Необычно было на другом конце земли в рисунках 200-летней давности узнавать те далекие и
        уже ставшие родными антарктические пейзажи. Многое в них осталось неизменным до сих пор.
</div>
</div>
<a href="article_bachtiyarov..html">смотрите статью Руслана Бахтиярова</a>


<H2> Виктория Бахерт</H2>
<p><i>Художник, путешественник</i></p></p>


<div class="footer align-center">
    &copy <a href="http://phdstd.ru/">PHD STD </a>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="../../js/fontSize.js"></script>
</body>
</html>